body {
    margin: 0;
    padding: 0;
}
#registerContainer{
    display: flex;
    flex-direction: column;
    width:60%;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    padding: 20px;
}
 
#registerContainer * {
width: 100%;
margin:5px 16px 5px 16px;

}

#subtitle{
    color:#ffffff;
    text-align:center;

}
